body{ <!-- set body style-->
  font-family: courier, Arial;
  background-color: purple;
  }

.wrapper{ <!-- set style for wrapper-->
  width:1000px;
  background-color: violet;
  padding:20px;
  margin:auto;
}

.header{ <!--set style for header-->
  width:960px;
  height: 100px;
  padding:20px;
  text-align:center;
  border-bottom: 1px black solid;
}  

.footer { <!-- set footer style-->
    width: 1000px;
    height: 50px;
    border-top: solid black 1px;
    text-align: center;

} 
